<div class="page-header" style="margin-top: 0px;">
	<h1>{{event.description}} <small>{{event.start_date | date}} - {{event.end_date | date}}</small>
		<small><div href uib-tooltip="Create At: {{event.created_at | date}}" tooltip-placement="left" class="pull-right"><span class="glyphicon glyphicon-info-sign"></span></div></small>
	</h1>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-sm-8">
				<h3 class="panel-title">Customers &nbsp;<a href ng-click="isAddCustomerFormCollapsed = !isAddCustomerFormCollapsed"><span class="glyphicon glyphicon-plus-sign" uib-tooltip="Add Customer To Event"></span></a></h1>
			</div>
			<div class="col-sm-4">
				<input ng-model="customerFilter" type="text" placeholder="Filter" class="form-control" style="height: inherit; padding: 2px 15px;"/>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<p>To add more customers click the '+' icon above.</p>
		<p>Customers are camp workers, campers, and staff that are in this event.</p>
		<div uib-collapse="isAddCustomerFormCollapsed" class="collapse">
			<hr>
			<form name="addCustomerForm" novalidate>
				<div ng-class="IsObject( customerToAdd ) ? 'has-success' : 'has-error'" class="form-group-sm has-feedback">
					<label for="customerToAdd">
						Name &nbsp;&nbsp;
						<small>
							<span ng-show="loadingLocations" class="glyphicon glyphicon-refresh text-muted"></span>
							<span ng-show="noResults" class="text-muted"><i class="glyphicon glyphicon-remove text-danger"></i> No Results Found</span>
						</small>
					</label>
					<input ng-model="customerToAdd" type="text" ng-model-options="{ debounce: { default: 400 } }" uib-typeahead="customer as customer.name for customer in GetCustomersByName( $viewValue )" typeahead-show-hint="true" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control" name="customerToAdd" placeholder="Full Name" autocomplete="off" required>
					<!--<span ng-class="customerToAdd ? 'glyphicon-ok' : 'glyphicon-remove'" class="glyphicon form-control-feedback" aria-hidden="true"></span>-->
				</div>

				<br>
				<button type="submit" ng-click="AddCustomer( customerToAdd )" ng-disabled="addCustomerForm.$invalid || !IsObject( customerToAdd )" class="btn btn-default btn-sm pull-right">Add Customer</button>
			</form>
		</div>
	</div>
	<customers-table customers="customers" filter="customerFilter" on-update="GetEventsCustomers( event.id )" on-delete="DeleteCustomer"></customers-table>
</div>
