<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-sm-8">
				<h1 class="panel-title">Events &nbsp;<a href ng-hide="isReadOnly" ng-click="NewEvent()"><span class="glyphicon glyphicon-plus-sign" uib-tooltip="Add Event"></span></a></h1>
			</div>
			<div class="col-sm-4">
				<input ng-model="eventFilter" type="text" placeholder="Filter" class="form-control" style="height: inherit; padding: 2px 15px;"/>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<p>Events are camp events, like weeks of camp and rental days. To add more events click the '+' icon above</p>
	</div>
	<table ng-controller="EventsCtrl" class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Start Date</th>
				<th>End Date</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="event in events | filter: eventFilter as eventFilterResults">
				<td>{{event.id}}</td>
				<td>{{event.name}}</td>
				<td>{{event.start_date | date}}</td>
				<td>{{event.end_date | date}}</td>
			</tr>
		</tbody>
	</table>
</div>