<div  class="table-responsive">
	<table ng-show="$ctrl.customers.length > 0" class="table table-hover" style="margin-bottom: 0px; border-top: 1px solid #dfd7ca;">
		<thead>
			<tr>
				<th>Name</th>
				<th>Start Balance</th>
				<th>Balance</th>
				<th ng-show="$ctrl.customers[0].type">Type</th>
				<th><span class="pull-right">Actions</span></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="customer in $ctrl.customers | filter: $ctrl.filter as customerFilterResults">
				<td ng-hide="customer.editing">{{customer.name}}</td>
				<td ng-hide="customer.editing">{{customer.starting_balance | currency}}</td>
				<td ng-hide="customer.editing">{{customer.balance | currency}}</td>
				<td ng-hide="customer.editing || !customer.type">{{customer.type}}</td>
				<td ng-show="customer.editing"><input ng-model="customer.new_name" type="text" class="form-control input-sm"></td>
				<td ng-show="customer.editing"><input ng-model="customer.new_starting_balance" type="text" class="form-control input-sm"></td>
				<td ng-show="customer.editing"><input ng-model="customer.new_balance" type="text" class="form-control input-sm"></td>
				<td ng-show="customer.editing && customer.type"><select ng-model="customer.new_type" ng-options="customerType.type for customerType in $ctrl.customerTypes track by customerType.id" class="form-control input-sm"></select></td>

				<td>
					<div ng-hide="customer.editing" class="btn-group btn-group-xs pull-right">
						<button ng-click="$ctrl.StartEditing( customer )" title="Edit {{customer.name}}" class="btn btn-default">Edit</button>
						<button ng-click="$ctrl.DeleteCustomer( customer )" title="Delete" class="btn btn-danger" confirm>Delete</button>
					</div>
					<div ng-show="customer.editing" class="btn-group btn-group-xs pull-right">
						<button ng-click="$ctrl.EditCustomer( customer )" title="Done" class="btn btn-primary">Ok</button>
						<button ng-click="$ctrl.CancelEditing( customer )" class="btn btn-warning">Cancel</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>