<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-sm-8">
				<h1 class="panel-title">Products &nbsp;<a href ng-click="isAddProductFormCollapsed = !isAddProductFormCollapsed"><span class="glyphicon glyphicon-plus-sign" uib-tooltip="Add Product"></span></a></h1>
			</div>
			<div class="col-sm-4">
				<input ng-model="productFilter" type="text" placeholder="Filter" class="form-control" style="height: inherit; padding: 2px 15px;"/>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<p>To add more products click the '+' icon above.</p>
		<p>Products can be anything you sell at the "store". They can be specific like "Twix" and "3 Musketeers" or generic like just "candy".</p>
		<div uib-collapse="isAddProductFormCollapsed" class="collapse">
			<hr>
			<form name="addProductForm" novalidate>
				<div class="row">
					<div ng-class="productName ? 'has-success' : 'has-error'" class="form-group-sm has-feedback col-md-6">
						<label for="productName">Name</label>
						<input ng-model="productName" type="text" class="form-control" id="productName" name="productName" placeholder="Name" required>
						<!--<span ng-class="productName ? 'glyphicon-ok' : 'glyphicon-remove'" class="glyphicon form-control-feedback" aria-hidden="true"></span>-->
					</div>
					<div ng-class="productPrice ? 'has-success' : 'has-error'" class="form-group-sm has-feedback col-md-6">
						<label for="productPrice">Price</label>
						<input ng-model="productPrice" type="text" class="form-control" name="productPrice" placeholder="$1.00" required>
						<!--<span ng-class="productPrice ? 'glyphicon-ok' : 'glyphicon-remove'" class="glyphicon form-control-feedback" aria-hidden="true"></span>-->
					</div>
					<!--<div ng-class="productCountInStock ? 'has-success' : 'has-error'" class="form-group-sm has-feedback col-md-4">
						<label for="productCountInStock">Description</label>
						<input ng-model="productCountInStock" type="date" class="form-control" name="productCountInStock" placeholder="Amount in stock">
						<span ng-class="productCountInStock ? 'glyphicon-ok' : 'glyphicon-remove'" class="glyphicon form-control-feedback" aria-hidden="true"></span>
					</div>-->
				</div>
				<br>
				<button type="submit" ng-click="AddProduct()" ng-disabled="addProductForm.$invalid" event-focus="click" event-focus-id="productName" class="btn btn-default btn-sm pull-right">Add Product</button>
			</form>
		</div>
	</div>
	<table ng-show="products.length > 0" class="table table-hover" style="margin-bottom: 0px;">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>In Stock</th>
			<th><span class="pull-right">Actions</span></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in products | filter: productFilter as productFilterResults">
			<td>{{product.name}}</td>
			<td ng-hide="product.editing">{{product.price | currency}}</td>
			<td ng-hide="product.editing">{{product.stock}}</td>
			<td ng-show="product.editing"><input ng-model="product.new_price" type="text" class="form-control input-sm"></td>
			<td ng-show="product.editing"><input ng-model="product.new_stock" type="text" class="form-control input-sm"></td>
			<td>
				<div ng-hide="product.editing" class="btn-group btn-group-xs pull-right">
					<button ng-click="StartEditing( product )" title="Edit {{product.name}}" class="btn btn-default">Edit</button>
					<button ng-click="DeleteProduct( product )" title="Delete" class="btn btn-danger">Delete</button>
				</div>
				<div ng-show="product.editing" class="btn-group btn-group-xs pull-right">
					<button ng-click="EditProduct( product )" class="btn btn-primary">Ok</a>
					<button ng-click="CancelEditing( product )" class="btn btn-warning">Cancel</a>
				</div>
			</td>
		</tr>
	</tbody>
</table>
</div>