html { overflow-y:scroll; }
body { padding-top:50px; }

.panel .panel-heading,
.panel .panel-title {
    font-size: 14px;
}

.panel .panel-title {
	margin-top: 2px;
}

/* Helper classes */
.nv-file-over { border: dotted 3px lightgray; }
.clickable { cursor: pointer; }
.readonly { pointer-events: none; }
.compact { font-size: x-small; }
small, .small { font-size: 80%; }

.text-wrap {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scrollable {
	display: inherit;
    max-height: 60vh;
    /*max-height: 480px;*/
    overflow: auto;
}

.has-clear {
	top: 4px;
	line-height: inherit;
	width: 24px;
	height: 24px;
	pointer-events: auto;
	text-decoration: none;
	cursor: pointer;
}

.table-responsive {
	margin-bottom: 0px;
}
